.index #srch{
    border-radius: 20px;
    border-color: black;
    background-color: transparent;
    margin-left: 13%;
    margin-top: 9%;
}
.index #programer{
    margin-top: 15%;
}
.index .form-control{
    width: 75%;
}
.index #botonTrabajo{
    border-radius: 20px;
    border-color:transparent;
    background-color: #370A6D;
    color: white;
    padding: 6px 42px 6px 42px;
    text-decoration: none;
}

.index{
    margin-bottom: 5vh;
}