.navbar-toggle{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:blue;
    border: 1px solid ;
    border-radius: .25rem;
}
#navBar{
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    height:fit-content;
    z-index: 1;
    background-color: black;
}
.li:hover{
    color: #282828;
}

#cv{
    color:white;
    background-color: #370A6D;
    text-decoration: none;
    float: right;
    border-radius:12px;
    padding: 2px 12px 3px 12px;
    margin-left: 220px;
}
#cv:hover{
    background-color: #370A6D;
    color: white;
    text-decoration: none;
}
.item{
    color: white;
}
.hamburger{
    background-color: transparent;
    border: 0;
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.hamburger:focus{
    outline: none; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.nav-link{
    margin-inline-end: 60px;
}
.myStyle{
    position: relative;
    transition: 1s all ease;
    background-color: black;
}

@media screen and (max-width: 767px){
    #navBar{
        background-color: black;
        padding-top: 3px;
        padding-bottom: 3px;
        height:fit-content;
        z-index: 1;
    }
    #nav-ul{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align:justify;
    }
    li a{
        text-align: left;
    }
    #nav-ul.show{
        display: flex;
    }
    .hamburger{
        display: block;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #cv{
        float: left;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1380px){
    #cv{
        float: left;
        margin-left: 10px;
    }
}