.proyectos main {
    margin-top: 3%;
}

.btn {
    background-color: #370A6D;
    color: white;
    border-radius: 20px;
    border: transparent;
    padding: 8px 27px 8px 27px;
    font-size: 15px;
}

.btn:hover {
    background-color: white;
    border: 1px solid;
    border-color: #370A6D;
    border-radius: 20px;
    color: #370A6D;
    padding: 8px 27px 8px 27px;
    font-size: 15px;
}

.proyectos #p1 {
    color: #6A6A6A;
}
.nav-tabs{
    font-size: 18px !important;
    margin-left: 0.9rem;
}
.proyectos h2 {
    color: white;
    font-size: 15px;
}
#proyectos .nav{
    flex-wrap: initial ;
}

.proyectos .card {
    border-radius: 18px;
    height: 480px;
}

.proyectos img {
    padding: 15px;
}

.proyectos .sv {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(55, 10, 109, 1) 19%, rgba(55, 10, 109, 1) 81%, rgba(2, 0, 36, 1) 100%);
    padding: 7px 0px 7px 0px;
    margin-left: -16px;
    margin-right: -16px;
}

.proyectos {
    margin-bottom: 15vh;
}
.verMas{
    width: 25%;
}

@media screen and (max-width: 800px) {
    .linksProyectos{
        font-size: 10px
    }
    .verMas{
        width: 50%;
    }
    .btn {
        background-color: #370A6D;
        color: white;
        border-radius: 20px;
        border: transparent;
        padding: 8px 27px 8px 27px;
        font-size: 13px;
    }

    .btn:hover {
        background-color: white;
        border: 1px solid;
        border-color: #370A6D;
        border-radius: 20px;
        color: #370A6D;
        padding: 8px 27px 8px 27px;
        font-size: 13px;
    }
}